<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sandman.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<!--
		Apparently WMC is in .NET 2.
		.NET 4 changed how it loads legacy frameworks.
		So we need this attribute.
	-->
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
        <Sandman.Properties.Settings>
               <setting name="MinimumTimeBeforeNextRecording" serializeAs="String">
                      <value>00:30:00</value>
               </setting>
               <setting name="DelayBeforeSuspending" serializeAs="String">
                      <value>00:00:10</value>
               </setting>
               <setting name="TimeUserInactiveBeforeSuspending" serializeAs="String">
                      <value>00:30:00</value>
               </setting>
               <setting name="DelayAfterResume" serializeAs="String">
                      <value>00:10:00</value>
               </setting>
               <setting name="BlacklistedProcesses" serializeAs="String">
                      <value>ehshell;epg123;epg123client;hdhr2mxf;epg123Transfer;WMC_Status;vlc</value>
               </setting>
               <setting name="DelayForElevatedProcess" serializeAs="String">
                      <value>00:01:00</value>
               </setting>
        </Sandman.Properties.Settings>
    </userSettings>
</configuration>
